/*! DESKTOP VIEW */

/** Page Structures */
body {
    font-family: var(--body) !important;
    background: var(--dark-blue) url(../img/bg.svg) fixed center / cover no-repeat;
}

footer {
    background-color: var(--semi-dark-blue);
}

/** Blade Components */
h1,
h2,
h3 {
    font-weight: 800 !important;
}

h4,
h5,
h6,
strong,
button,
.nav-link,
.page-link {
    font-weight: 600 !important;
}

img,
a,
.nav-link,
.page-link {
    -webkit-user-drag: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--normal-yellow);
}

.btn-outline-primary {
    border: solid 2px var(--normal-blue);
}

table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

th {
    background-color: var(--black) !important;
}

th,
tr {
    border-top: 1.5px solid var(--light-gray) !important;
}

th,
td {
    border-right: 1.5px solid var(--light-gray) !important;
    border-bottom: 1.5px solid var(--light-gray) !important;
}

th:first-child,
td:first-child {
    border-left: 1.5px solid var(--light-gray) !important;
}

tr:first-child th:first-child {
    border-top-left-radius: 5px !important;
}

tr:first-child th:last-child {
    border-top-right-radius: 5px !important;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px !important;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px !important;
}

label {
    margin-bottom: .5rem;
}

input {
    caret-color: var(--normal-blue);
}

select {
    padding: .4rem;
    border-radius: 5px;
}

hr {
    height: 2px !important;
    border-radius: 50px !important
}

iframe {
    width: 100%;
    height: 30rem;
    border-radius: 5px;
}

/** Pseudo-elements */
::-webkit-scrollbar {
    height: 0.625rem;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 4px solid var(--black);
    background-color: var(--semi-dark-blue);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--normal-blue);
}

::selection {
    background: var(--semi-dark-blue);
    color: var(--white);
}

::placeholder {
    color: var(--light-gray) !important;
}

/** Pseudo-classes */
:root {
    --dark-blue: #020E3A;
    --semi-dark-blue: #313465;
    --normal-blue: #2256B8;
    --normal-yellow: #FFB800;
    --light-gray: #999999;
    --transparent-1: #FFFFFF25;
    --transparent-2: #FFFFFF1A;
    --black: #000000;
    --white: #FFFFFF;
    --body: 'Poppins', sans-serif !important;
}

a:hover,
.nav-link:hover {
    color: var(--normal-yellow) !important;
}

.btn-primary:hover,
.nav-logo:hover,
.scrollToTopBtn:hover {
    filter: brightness(115%);
}

button:active,
.create:active,
.show:active,
.edit:active {
    transform: scale(.9);
}

.btn-lg.btn-outline-primary:hover {
    border: 2px solid var(--normal-blue) !important;
    background-color: transparent !important;
    color: var(--normal-blue) !important;
    filter: brightness(150%);
}

.btn-outline-warning:hover {
    border: 1px solid var(--normal-yellow) !important;
    background-color: transparent !important;
    color: var(--normal-yellow) !important;
}

.btn-link:hover {
    color: var(--normal-yellow);
}

.btn-link:active,
.btn-link:focus {
    transform: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

input:focus,
textarea:focus,
select:focus-visible {
    border: solid 2px var(--normal-yellow) !important;
    box-shadow: none !important;
    background-color: var(--black) !important;
}

.form-check-input:focus,
.form-check-input:checked,
.custom-radio:checked,
.custom-radio:focus {
    border: none !important;
    box-shadow: none !important;
}

.form-check-input:focus {
    background-color: var(--white) !important;
}

.form-check-input:checked {
    background-color: var(--normal-blue) !important;
}

.custom-radio:checked,
.custom-radio:focus {
    background-color: var(--normal-blue);
}

.page-link:hover {
    color: var(--normal-yellow) !important;
}

.page-link:focus,
.page-link:hover,
.page-link:not(:visited) {
    box-shadow: none !important;
    background-color: var(--normal-blue) !important;
    color: var(--white) !important;
}

.navbar-toggler.collapsed .bi.bi-x-lg {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

/** Selector (ID) */
#togglePassword {
    cursor: pointer;
}

/** Selector (Class) */
.btn {
    padding: .5rem;
}

.btn-primary {
    border: solid 1px var(--normal-blue);
    background-color: var(--normal-blue) !important;
    color: var(--white) !important;
}

.btn-link {
    text-decoration: none;
    color: var(--normal-yellow);
}

.nav-link.active {
    font-weight: 900 !important;
    border-bottom: 2px solid var(--normal-yellow) !important;
    color: var(--normal-yellow) !important;
}

.nav-link {
    margin-right: .75rem;
    color: var(--white) !important;
}

.dropdown-menu {
    background-color: var(--semi-dark-blue) !important;
}

.dropdown-item {
    font-weight: 600;
    color: var(--white);
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--normal-yellow);
}

.icon-font {
    font-size: 24px;
}

.form-group {
    margin-bottom: 1rem;
}

select,
.form-control {
    background-color: transparent !important;
    color: var(--white) !important;
    border: solid 2px var(--white) !important;
    outline: none;
}

.card {
    padding: .75rem 1.25rem 0 1.25rem;
    border-radius: 15px !important;
    border: 3px solid var(--transparent-1) !important;
    background: var(--transparent-2) !important;
    backdrop-filter: blur(3px) !important;
}

.card-header {
    background-color: transparent !important;
    border-bottom: solid 2px var(--transparent-2) !important;
}

.page-link {
    border: 1px solid var(--normal-blue) !important;
    background-color: var(--black) !important;
    color: var(--normal-blue) !important;
}

.nav-brand {
    font-weight: 800 !important;
    color: var(--normal-yellow);
}

.nav-logo {
    max-width: 50%;
    max-height: 3rem;
}

.content-img {
    max-width: 50%;
    max-height: 20rem;
}

.illustration-img {
    max-width: 100% !important;
}

.jumbotron-img {
    max-width: 100%;
    border-radius: 50%;
}

.hero {
    margin-bottom: 5rem !important;
}

.carousel-inner {
    border-radius: .25rem;
}

.registered {
    cursor: text !important;
}

.scrollToTopBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    opacity: 0;
    padding: .5rem .75rem;
    transform: translateY(100px);
    transition: all .5s ease;
    border-radius: .25rem;
    color: var(--normal-yellow);
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}
