/*! DESKTOP VIEW */

/** Page Structures */
body {
    font-family: var(--body) !important;
    background: var(--dark-blue) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23313465' fill-opacity='0.36' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

/** Blade Components */
h1,
h2,
h3 {
    font-weight: 800 !important;
}

h4,
h5,
h6,
strong,
button,
.nav-link,
.page-link {
    font-weight: 600 !important;
}

img,
a,
.nav-link,
.page-link {
    -webkit-user-drag: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--normal-yellow);
}

table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

th {
    background-color: var(--black) !important;
}

th,
tr {
    border-top: 1.5px solid var(--light-gray) !important;
}

th,
td {
    border-right: 1.5px solid var(--light-gray) !important;
    border-bottom: 1.5px solid var(--light-gray) !important;
}

th:first-child,
td:first-child {
    border-left: 1.5px solid var(--light-gray) !important;
}

tr:first-child th:first-child {
    border-top-left-radius: 5px !important;
}

tr:first-child th:last-child {
    border-top-right-radius: 5px !important;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px !important;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px !important;
}

label {
    margin-bottom: .5rem;
}

input {
    caret-color: var(--normal-blue);
}

select {
    padding: .4rem;
    border-radius: 5px;
}

hr {
    height: 2px !important;
    border-radius: 50px !important
}

/** Pseudo-elements */
::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 4px solid var(--black);
    background-color: var(--semi-dark-blue);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--normal-blue);
}

::selection {
    background: var(--semi-dark-blue);
    color: var(--white);
}

::placeholder {
    color: var(--light-gray) !important;
}

/** Pseudo-classes */
:root {
    --dark-blue: #020E3A;
    --semi-dark-blue: #313465;
    --normal-blue: #2256B8;
    --normal-yellow: #FFB800;
    --light-gray: #999999;
    --transparent-1: #FFFFFF25;
    --transparent-2: #FFFFFF1A;
    --black: #000000;
    --white: #FFFFFF;
    --body: 'Poppins', sans-serif !important;
}

a:hover,
.nav-link:hover {
    color: var(--normal-yellow) !important;
}

.btn-primary:hover,
.nav-logo:hover {
    filter: brightness(115%);
}

button:active,
.create:active,
.show:active,
.edit:active {
    transform: scale(.9);
}

.btn-outline-primary:hover {
    border: 1px solid var(--normal-blue) !important;
    background-color: transparent !important;
    color: var(--normal-blue) !important;
}

.btn-outline-warning:hover {
    border: 1px solid var(--normal-yellow) !important;
    background-color: transparent !important;
    color: var(--normal-yellow) !important;
}

.btn-link:hover {
    color: var(--normal-yellow);
}

.btn-link:active,
.btn-link:focus {
    transform: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

input:focus,
textarea:focus,
select:focus-visible {
    border: solid 2px var(--normal-yellow) !important;
    box-shadow: none !important;
    background-color: var(--black) !important;
}

.form-check-input:focus,
.form-check-input:checked,
.custom-radio:checked,
.custom-radio:focus {
    border: none !important;
    box-shadow: none !important;
}

.form-check-input:focus {
    background-color: var(--white) !important;
}

.form-check-input:checked {
    background-color: var(--normal-blue) !important;
}

.custom-radio:checked,
.custom-radio:focus {
    background-color: var(--normal-blue);
}

.page-link:hover {
    color: var(--normal-yellow) !important;
}

.page-link:focus,
.page-link:hover,
.page-link:not(:visited) {
    box-shadow: none !important;
    background-color: var(--normal-blue) !important;
    color: var(--white) !important;
}

/** Classes */
.btn {
    padding: .5rem;
}

.btn-primary {
    border: solid 1px var(--normal-blue);
    background-color: var(--normal-blue) !important;
    color: var(--white) !important;
}

.btn-link {
    text-decoration: none;
    color: var(--normal-yellow);
}

.nav-link.active {
    font-weight: 900 !important;
    border-bottom: 2px solid var(--normal-yellow) !important;
    color: var(--normal-yellow) !important;
}

.nav-link {
    margin-right: .75rem;
    color: var(--white) !important;
}

.dropdown-menu {
    background-color: var(--semi-dark-blue) !important;
}

.dropdown-item {
    font-weight: 600;
    color: var(--white);
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--normal-yellow);
}

.contact {
    font-size: 24px;
}

.form-group {
    margin-bottom: 1rem;
}

select,
.form-control {
    background-color: transparent !important;
    color: var(--white) !important;
    border: solid 2px var(--white) !important;
    outline: none;
}

.card {
    padding: .75rem 1.25rem 0 1.25rem;
    border-radius: 15px !important;
    border: 3px solid var(--transparent-1) !important;
    background: var(--transparent-2) !important;
    backdrop-filter: blur(3px) !important;
}

.card-header {
    background-color: transparent !important;
    border-bottom: solid 2px var(--transparent-2) !important;
}

.page-link {
    border: 1px solid var(--normal-blue) !important;
    background-color: var(--black) !important;
    color: var(--normal-blue) !important;
}

.nav-brand {
    font-weight: 800 !important;
    color: var(--normal-yellow);
}

.nav-logo {
    max-width: 50%;
    max-height: 3rem;
}

.content-img {
    max-width: 50%;
    max-height: 20rem;
}

.illustration-img {
    max-width: 100% !important;
}

.jumbotron-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
